.sectionHero {
  background-color: #ffff;
  padding: 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  /* height: 100vh; */
}
.heroimg {
  width: 100%;
}

.headingprimary {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  text-align: center;
}

.herodescription {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 4.6rem;
  text-align: center;
  font-weight: 400;
}

.icon {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  text-align: center;
}

.bold {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.05;
  letter-spacing: -0.5;
}

.boldx {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.05;
  letter-spacing: -0.5;
}

.strong {
  color: rgba(0, 255, 157, 0.595);
}
.HomepageReview {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  text-align: center;
}

.btncontainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  /* background-color: #eaead3; */
  font-size: 2rem;
  color: #333;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.06);
}

.btna {
  background-color: #82814c;
}

.grid5cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  align-items: end;
  padding: 1.2rem;
}

.herocards {
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
}

.firstCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-color: #eaead3;
}

.secondCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  flex-direction: column;
  background-color: #cfcd98;
}

.thirdCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  flex-direction: column;
  background-color: #82814c;
}

.fourthCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  flex-direction: column;
  background-color: #cfcd98;
}

.fifthCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  flex-direction: column;
  background-color: #eaead3;
}
/* 
.fourthCardUl {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
} */

.strgh2 {
  color: #333;
  font-weight: 700;
  font-size: 1.3rem;
}
.genrie {
  display: flex;
  /* text-decoration: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  /* color: #777; */
  /* color: rgba(0, 255, 157, 0.595); */
}

.fourthCardLi {
  list-style: none;
  /* align-items: center; */
  font-size: 1.2rem;
  font-weight: 400;
}

.icon3 {
  margin-bottom: 2rem;
}

.fifthCardLi {
  list-style: none;
  font-size: 1.05rem;
  font-weight: 500;
}

.fifthCard {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.mobileNav {
  display: none; /* Hide by default */
}

/* responsive design  */
/* 1rem = 1em =16px */

/* below 1350px */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .headingprimary {
    font-size: 2.4rem;
  }
  html {
    font-size: 56%;
  }
}

/* below 1044 px */

@media (max-width: 65em) {
  .fifthCard {
    font-size: 1.2rem;
  }
  html {
    font-size: 50%;
  }
  .grid5cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.3rem;
  }

  .fourthCard {
    font-size: 1.5rem;
  }
}

/* below 865 px */

@media (max-width: 54em) {
  html {
    font-size: 46%;
  }

  .genrie {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .fifthCardLi {
    font-size: 1.3rem;
  }

  .sectionHero {
    padding-top: 3.2rem;
  }

  .grid5cols {
    padding: 2rem;
  }
}
/* below 768 px */

@media (max-width: 48em) {
  .desktopNav {
    display: none; /* Hide on mobile */
  }

  .mobileNav {
    display: block; /* Show on mobile */
  }
  .navLinks {
    position: fixed;
    top: 70px;
    left: -100%; /* Hide off-screen */
    width: 100%;
    height: calc(100vh - 70px);
    background: #fff;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: left 0.3s ease;
  }

  .navLinks.active {
    left: 0; /* Slide in when active */
  }

  .buttonIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* below 559 px */

@media (max-width: 35em) {
  html {
    font-size: 30%;
  }

  .herodescription {
    font-size: 1.2rem;
  }

  .grid5cols {
    font-size: 0.75rem;
    padding: 2rem;
  }
}
